@import url('https://fonts.googleapis.com/css2? family= Gloria+Hallelujah & family= Handlee & family= Passion+One & family= Patrick+Hand & family= Poppins:ital,wght@ 0,500;0,900;1,100;1,200 & family= Yeseva+One & display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yeseva One', cursive;
}

.App {
  text-align: center;
}